:root {
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  font: 500 16px/20px "Inter", sans-serif;
  background-color: #F4F5FB;
}

a, h1 {
  font-family: "Inter", sans-serif;
  color: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font: 500 14px/16px "Inter", sans-serif;
  color: var(--color-brand);

  &:hover {
    color: var(--color-brand-hover);
  }

}

.title {
  font: 600 24px/32px "Inter", sans-serif;
  padding: 16px 0 44px;
}